<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EducationWorks</title>
    <script
      src="https://kit.fontawesome.com/cc64b55a8c.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 id="logo">SVCOP Kalan</h1>
          </div>
          <div class="col-md-8">
            <ul id="menu" class="float-md-right">
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Gallery</a></li>
              <li><a href="">Branch</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="banner" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="banner-title">
              <h1 class="title">
                Welcome to Shri Vishwanath College of Polytechnic
              </h1>
              <p class="lead">
                Technical Education is the most powerful weapon which you can
                use to change the world. Time is the most precious element of
                human existence. The successful person knows how to put energy
                into time and how to draw success from time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container section">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-head">Course Details</h2>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="service-box">
            <i class="fa-solid fa-code"></i>

            <h3>Computer Science and Engineering</h3>
            <p>
              Computer Science & Engineering (CSE) is an educational program at
              many colleges and universities, which accommodates scientific and
              engineering elements of computing.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="service-box">
            <i class="fa-solid fa-paint-roller"></i>
            <h3>Mechanical Engineering</h3>
            <p>
              Mechanical engineering is an engineering branch that combines
              engineering physics and mathematics principles with materials
              science, to design, analyze, manufacture, and maintain mechanical
              systems.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="service-box">
            <i class="fa-solid fa-microscope"></i>
            <h3>Electrical Engineering</h3>
            <p>
              Electrical engineering is an engineering discipline concerned with
              the study, design, and application of equipment, devices, and
              systems which use electricity, electronics, and electromagnetism.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="testimonials">
      <div class="container section">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-heads">Faculty Details</h2>
          </div>
          <div class="col-md-6">
            <div class="testimonial">
              <p>
                Currently working as a lecturer, Dept. of Computer Science. I
                have completed my M.Tech Smart Manufacturing(CS) from IIITDM
                Kancheepuram Chennai.
              </p>
              <img src="images/Anu.jpg" alt="anu" width="100px" />
              <div class="author">Mr. Anurag Pandey</div>
              <div class="author-company">Lecturer at SVCOP Kalan</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testimonial">
              <p>
                Currently working as a lecturer, Dept. of Computer Science. I
                have completed my B.Tech in Computer Science from AKTU Lucknow.
              </p>
              <img src="images/rahul.jpg" alt="rahul" width="150px" />
              <div class="author">Mr. Rahul Chaturvedi</div>
              <div class="author-company">Lecturer at SVCOP Kalan</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="news" class="container section">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-head">Vission & Mission</h2>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="news-post">
            <img src="images/post1.jpg" alt="" width="200px" />
            <h3><a href="">Placement Cell</a></h3>
            <div class="post-date">April 30, 2020</div>
            <p>
              Knowledge is power. This is especially true in today’s competitive
              world where countries are increasingly being categorized as
              knowledge rich or deficient.
            </p>
            <a href="" class="readmore">Read More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="news-post">
            <img src="images/post2.jpg" alt="" width="200px" />
            <h3><a href="">Career</a></h3>
            <div class="post-date">May 30, 2021</div>
            <p>
              Apply here for One position of Junior Research Assistant (JRA) in
              UP CST funded project.
            </p>
            <a href="" class="readmore">Read More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="news-post">
            <img src="images/post3.jpg" alt="" width="200px" height="110px" />
            <h3><a href="">Scholarships </a></h3>
            <div class="post-date">April 30, 2022</div>
            <p>
              Covid-19 warriors are the real life super heroes who are risking
              their life and fighting war against corona virus pandemic.
            </p>
            <a href="" class="readmore">Read More</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="news-post">
            <img src="images/post4.jpg" alt="" width="200px" height="110px" />
            <h3><a href="">Director Message </a></h3>
            <div class="post-date">Oct 25, 2022</div>
            <p>
              Shri Vishwanath College of Polytechnic kalan, Uttar Pradesh is a
              platform for research scholars to get prepared to face the
              challenges on the research based on corporate and industrial
              world.
            </p>
            <a href="" class="readmore">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-sidebar">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="footer-widget">
              <h4>About College</h4>
              <p>
                Education has the potential to change our world. It is a
                powerful tool for eradicating inequality, gender disparity,
                diminishing poverty, alleviation of disease and to develop means
                for creating a sustainable planet, infused with peace and
                prosperity.
              </p>
              <p>
                Shri Vishwanath Group of Institute to be a globally recognized
                place of teaching-learning, doing research and preparing human
                capital with ethical, social and ecological sensibilities,
                thereby contributing to national prosperity.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="footer-widget">
              <h4>Latest News</h4>
              <ul class="latest-news">
                <li><a href="">Convocation 2021</a></li>
                <li>
                  <a href=""
                    >Group providing students opportunities for Industry
                    Training & Placements</a
                  >
                </li>
                <li><a href="">Program fee structure</a></li>
                <li><a href="">Discipline Manual</a></li>
                <li><a href="">Value Added Programs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="footer-widget">
              <h4>College Addresss</h4>
              <address>
                <b>Shri Vishwanath College of Polytechnic</b><br />
                Kalan Sultanpur UP-228172 <br />
                Phone No.: 8610898145
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">copyright@2022 svcop.poly@gmail.com</div>
          <div class="col-md-6">
            <ul id="social-icons" class="float-md-right">
              <li><a href="" class="fa-brands fa-square-facebook"></a></li>
              <li><a href="" class="fa-brands fa-square-twitter"></a></li>
              <li><a href="" class="fa-brands fa-linkedin"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
